body{
    background-color: hsl(233, 47%, 7%) ;
    font-size: 15px;
}
.container{
    display:grid;
    grid-template-columns: auto auto;
    justify-content:space-between;
    background-color:  hsl(244, 38%, 16%);
    border-radius: 10px;
    margin:12%;
}
h1{
    color:hsl(0, 0%, 100%) ;
    font-weight: 700;
    margin: 5%;
}
p{
    color:hsla(0, 0%, 100%, 0.75) ;
    font-weight: 400;
    margin: 5%;
}
span{
    font-weight: 700;
    color: hsl(277, 64%, 61%);
}
h2{
  color:  hsl(0, 0%, 100%);
}
footer{
    display:grid;
    grid-template-columns: auto auto auto;
    margin: 5%;

}
.stat{
    margin: 5px;
}
.main{
    margin: 10%;
}

.img{
    grid-row: 1/ span 3;
    grid-column: 2;
    position: relative;
}
img{
    display: block;
}
.over{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color:hsl(277, 64%, 61%, 0.5) ;
}
